.element__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.element {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.element__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.element__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: Inter, arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.element__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
