.popup__button_disabled {
  opacity: 20%;
  cursor: default;
}

.popup__button_disabled:hover {
  opacity: 20%;
}

.popup__error {
  font-family: Inter, Arial, Sans-serif;
  line-height: 15px;
  font-size: 12px;
  border-width: 1px;
  border-color: #ff0000;
  color: #ff0000;
  position: absolute;
}

.popup__error_visible {
  visibility: visible;
}
